<div *ngIf="visible" class="modal">
    <div class="modal__content">
        <div class="modal__close-button" role="button" (click)="closeModal()">&#x2715;</div>
        <div class="modal__header">
            <h4 class="modal__album-title">{{ album?.title }}</h4>
            <p class="modal__album-artist">{{ album?.artist }}</p>
        </div>
        <div class="modal__body">
            <img class="modal__album-image" [src]="album?.imageUrl" alt="Album Art">
            <p class="modal__album-price">Price: {{ album?.price }}</p>
            <p class="modal__album-item-count">In Stock: {{ album?.itemCount }}</p>
            <p class="modal__album-release-date">Release Date: {{ albumReleaseDate }}</p>
        </div>
    </div>
</div>