<main>
  <h1 class="header">Top 100 Albums</h1>
  <input
    type="text"
    placeholder="Search..."
    [(ngModel)]="searchString"
    (ngModelChange)="onSearchStringChange()"
  >
  <div class="container" [class.overflow-hidden]="isModalVisible">
    <app-album *ngFor="let album of filteredAlbums" [album]="album" (click)="onClickAlbum(album)"></app-album>
    <p *ngIf="filteredAlbums.length === 0">No albums found. Try another search term.</p>
  </div>
  <app-album-detail-modal [album]="selectedAlbum"></app-album-detail-modal>
</main>
